{% extends 'pages/base.html' %}
{% load static %}
{% block content %}

  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">We Do Great Design For Creative Folks</h1>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  About
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= About Section ======= -->
    <section class="section-about">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 position-relative">
            <div class="about-img-box">
              <img src="assets/img/slide-about-1.jpg" alt="" class="img-fluid">
            </div>
            <div class="sinse-box">
              <h3 class="sinse-title">Joel’s
                <span></span>
                <br> Ent & corp.
              </h3>
              <p>Art & Creative</p>
            </div>
          </div>
          <div class="col-md-12 section-t8 position-relative">
            <div class="row">
              <div class="col-md-6 col-lg-5">
                <img src="{% static 'img/property-5.jpg' %}" alt="" class="img-fluid">
              </div>
              <div class="col-lg-2  d-none d-lg-block position-relative">
                <div class="title-vertical d-flex justify-content-start">
                  <span>Joel’s Exclusive Property</span>
                </div>
              </div>
              <div class="col-md-6 col-lg-5 section-md-t3">
                <div class="title-box-d">
                  <h3 class="title-d">ABOUT US
                    
                    <br> 
                  </h3>
                </div>
                <p class="color-text-a">
                  Joel’s enterprise and corporate services is a marketing and corporate service firm that is committed
                   to providing our clients with the highest quality service. We have a team of experienced professionals
                    who have a thorough knowledge of the Nigeria and Africa real estate market and high-quality services,
                   Our objective is to provide a one-stop solution for all our customers’ marketing, corporate services
                    and real estate needs, be it an end-user, investor or developer. We provide leasing/lettings, sales 
                    
                </p>
                <p class="color-text-a">
                  and property management services at a very high standard,our corporate services are not only utility assured
                     but also affordable,our vision is to be a world class real estate marketing , property management and  corporate services firm.
                     our mission is to offer you the best services in real estate management, marketing, investment and corporate services at a subsidized
                      cost and utility based.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- =======Team Section ======= -->

    
    <!-- End About Section-->

  </main><!-- End #main -->
{% endblock %}